*{
    margin: 0%;
    padding: 0%;
}

.calculator{
 min-height: 300px;
   min-width: 400px;
    
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
}
#display{
    height: 100px;
    border: 1px solid rgb(27, 27, 27);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font: 100 2.4rem sans-serif ;


}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
}

.button{
    height: 50px;
    width:25%;
background-color: rgba(128, 128, 128, 0.292);
    border: 1px solid black;
    text-align: center;
    font: 100 1.4rem sans-serif ;
    box-sizing: border-box;
    padding: 6px 0;
    cursor: pointer;
    transition: all ease  0.1s;
}
.button:hover{
    background-color:rgba(128, 128, 128, 0) ;
}
#zero{
    width: 50%;
}